* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}

a {
    text-decoration: none;
    color: black;
}


header {
    display: flex;
    justify-content: space-between;
    background-color: yellow;
    align-items: center;
    padding: 10px 80px;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 500px;
}


@media screen and (max-width:800px) {
    header {
        flex-direction: column;
    }
}

@media screen and (max-width:480px) {
    nav {
        flex-direction: column;
        align-items: center;
        font-size: 18px;
    }
}


@media print {
    header {
        background-color: rgb(97, 208, 169);
    }
}